header .navbar {
  background-color: #35495a;
}

.btn-primary {
  background-color: #35495a;
  border-color: #35495a;
}

.btn-primary:hover {
  background-color: #26343f;
}

a.text-white:hover {
  color: #cccccc !important;
}

.circle {
  height: 10px;
  width: 10px;
  background-color: #46c352;
  border-radius: 50%;
  display: inline-block;
}

.red-circle {
  height: 10px;
  width: 10px;
  background-color: #b80f04;
  border-radius: 50%;
  display: inline-block;
}
