header .navbar {
  background-color: #35495a;
}

.btn-primary {
  background-color: #35495a;
  border-color: #35495a;
}

.btn-primary:hover {
  background-color: #26343f;
}

a.text-white:hover {
  color: #cccccc !important;
}